    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 15px;
        margin-left: 130px;
    }
    
    form {
        background-color: rgb(243, 245, 247);
        flex-direction: column;
        width: 350px;
        height: 520px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
    }
    
    p {
        font-size: 18px;
        font-weight: 800;
    }
    
    input {
        margin-left: 14px;
        padding: 10px;
        margin-bottom: 14px;
        border: .1px solid #deecec;
        background-color: white;
    }
    
    a {
        text-decoration: none;
        color: blue;
    }
    
    textarea {
        margin-left: 14px;
        resize: none;
        border: .1px solid #deecec;
    }
    
    #bio {
        margin-top: 28px;
    }
    
    button {
        margin-left: 100px;
        border-radius: 15px;
        width: 150px;
        background-color: #637c33;
        color: white;
        padding: 10px;
        font-weight: 700;
        font-size: 18px;
        flex-direction: center;
    }
    
    button:hover {
        background-color: #637c33;
        transition: 0.1s;
    }