form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
    padding: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
}

p {
    font-size: 18px;
    font-weight: 800;
}

label {
    color: #637c33;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 14px;
}

input {
    border-radius: 14px;
    padding: 14px;
    margin-bottom: 14px;
    border: 1px solid #404242;
}

textarea {
    border-radius: 14px;
    margin-bottom: 14px;
    resize: none;
}

button {
    background-color: #505355;
    color: white;
    padding: 14px;
    border-radius: 14px;
    font-weight: 700;
    font-size: 14px;
}

button:hover {
    background-color: #637c33;
    transition: 0.1s;
}