<form (ngSubmit)="onSubmit()">
    <section class="image">
        <img src="../../../assets/images/github.png" class="rounded-circle avatar" alt="">
    </section>
    <h4>Update your Profile</h4>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" [(ngModel)]="user.name" />
    <label for="contact">Contact Number</label>
    <input type="contact" name="contact" id="contact" [(ngModel)]="user.contact" />
    <label for="bio">Bio</label>
    <textarea name="bio" id="bio" rows="8" [(ngModel)]="user.bio"></textarea>
    <button type="submit">Update</button>
</form>