<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="full-screen">
        <div>
            <img src="./assets/img/moringa-logo.png">
            <h1>Competency Framework</h1>
            <br><br>
            <button mat-button  type="submit" class="btn btn-primary">Log In </button> 
            <br><br>
            <button mat-button  type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</body>

