.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h1{
    color: black;
    font-weight: 500;
    display: inline;
    
} 
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
          url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
          url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
      }
      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }      
      @import url(https://fonts.googleapis.com/css?family=Roboto:300);

      .signup-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
        
      }
      .form {
        position: relative;
        z-index: 1;
      
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;

      }
      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        height: 40%;
      

      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: rgba(99,124,51,100);
        width: 50%;
        height: 50%;
        border: 0;
        padding: 10px;
        color: #FFFFFF;
        font-size: 20px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow:none;
        text-size-adjust: 40%;
        
      }
      .form button:hover,.form button:active,.form button:focus {
        background: #43A047;
      }
      .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .form .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .form .register-form {
        display: none;
      }
      .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
      }
      .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
      }
      .container .info {
        margin: 50px auto;
        text-align: center;
      }
      .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
      }
      .container .info span {
        color: #4d4d4d;
        font-size: 12px;
      }
      .container .info span a {
        color: #000000;
        text-decoration: none;
      }
      .container .info span .fa {
        color: #EF3B3A;
      }
      body {
        background: black; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #76b852, #8DC26F);
        background: -moz-linear-gradient(right, #76b852, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
      }

      .mat-card{
        background-color: rgb(238, 244, 253);
        color: black;
        display: flex;
        justify-content: center;
        width: 350px;
        height: 680px;
        margin-left: 38%; 
    }
    input{
        background-color: white;
        height: 40%;
    }
    button{
        background-color: rgba(99, 124, 51, 100);
        color: black;
        font-family: Montserrat;
        margin-left: 10px;
      
    }
  
    .container{
        display: flex;
        justify-content: center;
    }
  
    mat-form-field{
        font-family: Montserrat;
        margin-left: 199px;
    }
   
  
   
    select{
        margin-left: 28px;
    }
    input.ng-invalid{
        border-left: 5px solid red;
    }
    input.ng-invalid{
        border-left: 5px solid green;
    }
    .error{
        color: red;
        font-size:10px;
    }