<mat-card>
<div class="signup-page">
    <div class="form">
      <div>
        <img src="/signin/src/assets/baseline_account_circle_black_18dp.png ">
    </div>
  
        <h1>Register Your Supervisor Account</h1>
    <br>
    <br><br>
      <form class="login-form">
        <input type="text" placeholder="Username"/>
        <input type="email" placeholder="Email address"/>
        <input type="password" placeholder="Choose password"/>
        <br>
        <br>
        <br>
        <button>sign up</button>
        <p class="message">Already have an Account? <a href="#">Sign in</a></p>
      </form>
    </div>
  </div>
</mat-card>