<div class="container">
<mat-card>
    <mat-card-content>
        <form #createdepartmentForm="ngForm" (ngSubmit)="onSubmit(createdepartmentForm.value)">
            <div>
                <img src="./assets/img/moringa-logo.png">
            </div>
            <br><br>
                       
            <h1>Create Department</h1>
            
            <br>

            <mat-form-field>
                <label for="departmentName">Department Name:</label>
                <br><br>
                <input required matInput placeholder="Department Name" #departmentName="ngModel"  id="departmentName" type="text"  class="form-control" ngModel>
                <!-- <span *ngIf="departmentName.invalid" class="error">Department Name is Required</span> -->
                <span *ngIf="departmentName.valid" class="error">Department Name is Required</span>
            </mat-form-field>
            <br>

            <mat-form-field>
                <label for="departmentCode">Department Code:</label>
                <br><br>
                <input matInput #departmentCode="ngModel" id="departmentCode" type="text"  class="form-control" ngModel>
            </mat-form-field>
            <br>

            <mat-form-field>
                <label id="assignManager" for="assignManager">Assign Manager</label>
                <br><br>
                <select id="assignManager">
                    <option   #assignManager="ngModel" id="assignManager" type="radio" class="form-control" value="Rose Kairu" ngModel>Rose Kairu
                    <option #assignManager="ngModel" id="assignManager" type="radio" class="form-control" value="Collin Owino" ngModel>Collin Owino
                </select>
            </mat-form-field>
            <br>

            <button mat-button  type="submit" class="btn btn-primary">Create</button>
        </form>
    </mat-card-content>
</mat-card>
</div>
