<section>

    <img src="../../../assets/images/github.png" class="rounded-circle avatar" alt="">
    <br>
    <br>
    <div class="profile-text">
        <br>
        <h3> <span> Name : </span> {{ user.firstname }} {{ user.lastname }}</h3> <br>
        <p class="email"> <span> Email : </span>&nbsp;{{ user.email }}</p> <br>
        <p class="contact"><span> Phone Number : </span>&nbsp;{{ user.contact }}</p> <br>
        <p>{{ user.bio }}</p> <br>
    </div> <br>
    <button routerLink="/edit">Edit</button>
</section>